beautifulsoup4==4.13.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
gTTS==2.5.4
idna==3.10
pydub==0.25.1
requests==2.32.3
soupsieve==2.6
SpeechRecognition==3.14.1
typing_extensions==4.12.2
urllib3==2.3.0
wikipedia==1.4.0
